<!DOCTYPE html>
<html>

<head>
    <title>値を足し合わせるAPP</title>
</head>

<body>
    <input type="number" name="val1" id="val1" value="<%- val1 %>"> + <input type="number" name="val2" id="val2"
        value="<%- val2 %>"> = <span id="answer"><%- sum %></span>
    <script src="/client-plus.js" defer></script>
</body>

</html>